extends layout

block content
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js')
  script(type='text/javascript' src='javascripts/initSocket.js')
  script(type='text/javascript' src='//cdn.jsdelivr.net/npm/phaser@3.15/dist/phaser.js')
  script(type='text/javascript' src='javascripts/game.js')
  #gameDiv
